# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.JeuDuPendu.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\git\csharp\JeuDuPendu\.idea\.idea.JeuDuPendu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
